body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.name {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
}

nav {
    background-color: #222;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center; */
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 13px 20px;
}

nav ul li a:hover {
    background-color: #444;
}

nav ul li a.active {
    background-color: #444;
}

.menu-icon {
    display: none;
}
#menu-toggle {
    display: none;
}

.content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

footer {
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

footer p {
    color: #888;
    font-size: 14px;
    margin: 0;
}

/* Index page profile */

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 70px;
}

.profile-picture {
    flex: 1;
    text-align: center;
    padding-right: 20px;
}

.profile-picture img {
    max-width: 300px;
    height: auto;
    /* border-radius: 50%; */
}

.profile-info {
    flex: 1;
}

.profile-info h1 {
    font-size: 32px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.profile-info p {
    font-size: 18px;
    line-height: 1.6;
}

/* Mobile firendliness */

@media screen and (max-width: 800px) {
    .navbar {
        flex-wrap: wrap;
    }

    nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        padding: 10px;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    .menu-icon {
        display: block;
        color: white;
        font-size: 24px;
        cursor: pointer;
        order: 2;
    }

    #menu-toggle {
        display: none;
    }

    #menu-toggle:checked ~ ul {
        display: flex;
    }
}